body {
  background-color: black
}

nav {
  background-color: gray;
  text-align: center;
}

.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse, .homepage{
  text-align: center;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
}

img {
  height: 300px;
  display: inline;
}

p {
  color: lightskyblue;
  font-size: 150%;
}

.planet {
  text-align: center;
  padding: 20px auto;
}

h1 {
  color: lightblue;
  text-align: center;
}

.thumbnail {
  height: 150px;
}

h4 {
  color: lightgray
}



