body {
  background-color: #141311;
  margin-bottom: 65px;
}

nav {
  background-color: gray;
  text-align: center;
}

.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse, .homepage{
  text-align: center;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
}

.footer {
  position: fixed;
  height: 35px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 3rem;
  background-color: #333;

}
.footer p {
  text-align: center;
  color: gray;
  padding-top: 7px;
}

img {
  height: 300px;
  display: inline;
}

.profilePic{
  height: auto;
  width: 350px;
}

p {
  color: #FFFFFF;
}
a {
  color: #B7B7B6
}

.planet {
  text-align: center;
  padding: 20px auto;
}

h1 {
  color: #FFD12A;
  font-family: 'Baloo Bhaijaan', cursive;
  text-align: center;
  padding-bottom: 20px;
}

.thumbnail {
  height: 150px;
}

h4 {
  color: #FF9933
}
